<h1>Edit Recipe</h1>

<form action="/workouts/<%=@workout.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label >Name: </label>
  <input type="text" name="workout[name]" value="<%=@workout.name%>"> <br>
  <label > Description: </label>
  <input type="text" name="workout[description]" value="<%=@workout.description%>"> <br>
  <label >Instructions: </label>
  <input type="text" name="workout[instructions]" value="<%=@workout.description%>"><br>
  <label >Workout Time: </label>
  <input type="text" name="workout[workout_time]" value="<%=@workout.workout_time%>"> <br>
  <label >Experience Needed: </label>
  <input type="text" name="workout[experience_needed]" value="<%=@workout.experience_needed%>"> <br>
  <label >Equipment Needed: </label>
  <input type="text" name="workout[equipment_needed]" value="<%=@workout.equipment_needed%>"> <br>
  <input type="submit" value="Edit Workout">

</form>