<h3><%= @workout.name %></h3>

<p><%= @workout.description %></p>
<p><%= @workout.instructions %></p>
<p><%= @workout.workout_time %></p>
<p><%= @workout.experience_needed %></p>
<p><%= @workout.equipment_needed %></p>



<% if Helpers.current_user(session) == @workout.user %>

<a href="/workouts/<%=@workout.id%>/edit">Edit Workout</a>

<form action="/workouts/<%=@workout.id%>/delete" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Recipe">
</form>

<% end %>