<div id="workoutFormContainer">


<h3 id="heading"><%= @user.username %> - My Workouts</h3>

<ul id="bullets">
<% @workouts.each do |workout| %>
<li id="display"><a id="title" href="/workouts/<%=workout.id%>"><%= workout.name %></a>
<p>Workout Description: <%= workout.description %> </p>
<p>Workout Time: <%= workout.workout_time %> </p>
<p>Experience Needed: <%= workout.experience_needed %> </p>
<p>Equipment Needed: <%= workout.equipment_needed %> </p>

</li>

<% end %>
</ul>


</div>